.overview-main {
    background-image: 
    url('../../assets/full-star.png'),
    url('../../assets/linear-star.png'),
    url('../../assets/arrow.png');
    background-size: 2% 5%, 2% 5%, 2% 5%;
    background-position: 50px 40px, right 150px, 400px bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.overview-norm {
    background-image: 
    url('../../assets/full-star.png'),
    url('../../assets/linear-star.png');
    background-size: 2% 5%, 2% 5%,;
    background-position: 50px 40px, center center;
    background-repeat: no-repeat, no-repeat;
}