@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Unica+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Dm Sans", sans-serif;
    background-color: #150e28;
    color: #fff;
}

.active {
    background: linear-gradient(90deg, #903AFF 3.08%, #FF26B9 93.85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}